/* color palette from <https://github.com/vuejs/theme> */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 30px;
  
}

body {
  min-height: 100vh;
  font-family:  Roboto;
  background-color: aquamarine;
}
